<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Muebles Romaca</title>
</head>

<body>
    <div class="grid-container">
        <header class="row">
            <div class="inicio">
                <a class="brand" href="index.html">Inicio</a>
            </div>
            <div class="rest">
                <a href="cart.html">Carrito</a>
                <a href="signin.html">Sign In</a>
            </div>
            <div></div>
        </header>
        <main>
            <div class="ultra-container">
                <div class="row-center-2">
                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="img/logo real.png" alt="product">
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Comedor tipo A1</h2>
                            </a>
                            <div class="raiting">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">
                                120
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-center-2">
                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="img/logo real.png" alt="product">
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Comedor tipo A1</h2>
                            </a>
                            <div class="raiting">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star-half-o"></i></span>
                                <span><i class="fa fa-star-o"></i></span>
                            </div>
                            <div class="price">
                                120
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-center-2">
                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="img/logo real.png" alt="product">
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Comedor tipo A1</h2>
                            </a>
                            <div class="raiting">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">
                                120
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-center-2">
                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="img/logo real.png" alt="product">
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Comedor tipo A1</h2>
                            </a>
                            <div class="raiting">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">
                                120
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-center-2">
                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="img/logo real.png" alt="product">
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Comedor tipo A1</h2>
                            </a>
                            <div class="raiting">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">
                                120
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-center-2">
                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="img/logo real.png" alt="product">
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Comedor tipo A1</h2>
                            </a>
                            <div class="raiting">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">
                                120
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-center-2">
                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="img/logo real.png" alt="product">
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Comedor tipo A1</h2>
                            </a>
                            <div class="ratiing">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">
                                120
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-center-2">
                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="img/logo real.png" alt="product">
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Comedor tipo A1</h2>
                            </a>
                            <div class="raiting">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">
                                120
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="row-center">
            Todos los derechos reservaods
        </footer>
    </div>
</body>

</html>